###############################
# eg_061621 (model eg_031921)
###############################
## misc OSx
*~
.#.*
\#.gitignore#
*.DS_Store
\#.env#
\#__init__.py#
__pycache__
~$*

## xcode workspace
*.xcworkspace

#######################################
#######################################
/.idea
/node_modules
/build
/tsconfig.tsbuildinfo
